.root{
    width: 210px;
    height: 150px;
    border: 1px solid black;
    
}




.buttonContainer button{
    width: 70px;
    
    
}
.buttonContainer{
    display: table-row;
}

.winRange{
    width:100%;
    margin-left:0px;
    color: black;
}